body {
  font-family: 'Inter', sans-serif;
}

.outermain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center; 
}

.main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mtxt {
  flex: 1; 
}

.side-image {
  max-width: 576px; 
  height: auto;
}

.header {
  
  margin-left: 10px;
  font-weight: 900;
  font-size: 56px;
}
