body {
  font-family: 'Inter', sans-serif;
}

.outermain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 900;
  font-size: 56px;
  text-align: center; 
}

.main {
  padding-right: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mtxt {
  padding-left: 25%;
  font-weight: 500;
  font-size: 24px;
  flex: 1; 
}

.side-image {

  max-width: 576px; 
  height: auto;
  padding-right: 25%;
  object-fit: cover;
  border-radius: 25px;
}

.header {
  
  margin-left: 10px;
  font-weight: 900;
  font-size: 56px;
}
