html {
  background-color:black;
}
body {

  font-family: 'Inter', sans-serif;
  background-clip: content-box; 
  background-color: #000000;
  margin: 0 20%;
}
@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .images {
    flex-direction: column;
  }
}
.body2 {
  background-color: #ffffff;
  clip-path: inset(0 0% 0 0% round 25px);
  padding: 0 4%;
  padding-top: 1%;
}
body img {
  border-radius: 5%;
  height: auto;
}

.outermain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 900;
  font-size: 56px;
  text-align: center; 
}

.main {
  padding-right: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mtxt {
  padding-left: 25%;
  font-weight: 500;
  font-size: 24px;
  flex: 1; 
}
.imgd {
  border-radius: 5%;

}
.side-image {
  height: auto;
  padding-right: 25%;
  border-radius: 25px;
  object-fit: cover;
}

.header {
  
  margin-left: 10px;
  font-weight: 900;
  font-size: 56px;
}

.bottomSec {
  border-radius: 25px;
  background-color: #00000008; 
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  display: flex;
  gap: 2%;
  align-items: anchor-center;
  width:200;
  height:auto;
}

.bottomtxt {
  font-weight: 900;
  font-size:x-large;
}
.images {
  padding-top: 2%;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}
